# Basic Preprocessing

We will
* read the data
* parse the dates
* group the data 

for further analysis.

In [1]:
import os
import numpy as np
import pandas as pd

---
## Read the Data
Because of the ridiculous size of this dataset (1.5 GB) we load only columns we wish to use. Also note that we cannot parse the date during reading, since the date/time is stored in a non-standard format.

In [2]:
datapath = os.path.join("..", "data", "crimes.zip")
columns = ["ID", "Date", "Block", "Primary Type", "Latitude", "Longitude", "District", "Ward", "Community Area"]
fulldata = pd.read_csv(datapath, usecols=columns)

And see, by omitting a lot of columns which are

* a) containing text, which is hard to compress (thus large)
* b) essentially redundant

we can cut down the datasize to something more managable.

In [3]:
fulldata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6739035 entries, 0 to 6739034
Data columns (total 9 columns):
ID                int64
Date              object
Block             object
Primary Type      object
District          float64
Ward              float64
Community Area    float64
Latitude          float64
Longitude         float64
dtypes: float64(5), int64(1), object(3)
memory usage: 462.7+ MB

We did not even lose data (which we should check):

In [4]:
!wc -l ../data/crimes.csv

6739036 ../data/crimes.csv

The one line difference is just the header.

In [5]:
fulldata.head(10)

,ID,Date,Block,Primary Type,District,Ward,Community Area,Latitude,Longitude
0,10000092,03/18/2015 07:44:00 PM,047XX W OHIO ST,BATTERY,11.0,28.0,25.0,41.891399,-87.744385
1,10000094,03/18/2015 11:00:00 PM,066XX S MARSHFIELD AVE,OTHER OFFENSE,7.0,15.0,67.0,41.773372,-87.665319
2,10000095,03/18/2015 10:45:00 PM,044XX S LAKE PARK AVE,BATTERY,2.0,4.0,39.0,41.813861,-87.596643
3,10000096,03/18/2015 10:30:00 PM,051XX S MICHIGAN AVE,BATTERY,2.0,3.0,40.0,41.800802,-87.622619
4,10000097,03/18/2015 09:00:00 PM,047XX W ADAMS ST,ROBBERY,11.0,28.0,25.0,41.878065,-87.743354
5,10000098,03/18/2015 10:00:00 PM,049XX S DREXEL BLVD,BATTERY,2.0,4.0,39.0,41.805443,-87.604284
6,10000099,03/18/2015 11:00:00 PM,070XX S MORGAN ST,BATTERY,7.0,17.0,68.0,41.766403,-87.649296
7,10000100,03/18/2015 09:35:00 PM,042XX S PRAIRIE AVE,BATTERY,2.0,3.0,38.0,41.817553,-87.619819
8,10000101,03/18/2015 10:09:00 PM,036XX S WOLCOTT AVE,NARCOTICS,9.0,11.0,59.0,41.828138,-87.672782
9,10000104,03/18/2015 09:25:00 PM,097XX S PRAIRIE AVE,BATTERY,5.0,6.0,49.0,41.717455,-87.617663

---
## Parse dates

The next useful step is to convert the *Date* column to a `datetime`-object - thus facilitating further time related operations. However, keep in mind that this takes a lot of time if you don't specify the format (and subsequently discard information on the exact time).

In [6]:
fulldata["Date"] = pd.to_datetime(fulldata["Date"],
                                  format='%m/%d/%Y',
                                  exact=False)
fulldata = fulldata.set_index("Date")

---
## Grouping the dataset

We are interested in two views of the dataset:
1. Crime as the total number of incidents for the whole city
2. Crime per district
3. Crime per ward

### Crime total

This is super straightforward:

In [29]:
crimes_total = fulldata.groupby(fulldata.index.date).ID.count().reset_index()
crimes_total.to_csv(os.path.join("..", "data", "crime_total.csv"),
                    header=["date", "crimes_total"], index=False)

---

### Crime by district

This one is not so easy, it has some pitfalls. Note that we have some missing values for the districts:

In [75]:
fulldata.District.unique()

array([11.,  7.,  2.,  9.,  5.,  6.,  4., 12., 15., 14.,  1., 20., 10.,
       22.,  8., 17.,  3., 18., 16., 25., 24., 19., 31., nan, 21.])

However we can safely discard them.

In [54]:
crimes_district = fulldata.dropna(subset=["District"])
crimes_district = crimes_district.groupby(["District", crimes_district.index]).ID.count()

This way we overlook something crucial - what if on some days there is no reported crime in a specific district? This is something we should definitely fix, since our subsequent algorithms will require that each day in the dataset has the same number of samples.

In [55]:
# Sanity check on number of observed dates:
crimes_district.reset_index().groupby("District").Date.count()

District
1.0     6513
2.0     6513
3.0     6513
4.0     6513
5.0     6513
6.0     6513
7.0     6513
8.0     6513
9.0     6513
10.0    6513
11.0    6513
12.0    6513
14.0    6513
15.0    6513
16.0    6513
17.0    6513
18.0    6513
19.0    6513
20.0    6513
21.0       4
22.0    6513
24.0    6513
25.0    6513
31.0     173
Name: Date, dtype: int64

Our suspicion turned out to be true, district $21$ and district $31$ appear to be more quiet than the rest of Chicago. This means we have to fill all days in which these districts do not appear with zeroes - or we discard them altogether since they clearly are outliers.

In [57]:
new_index = pd.MultiIndex.from_product(crimes_district.index.levels)
crimes_district = crimes_district.reindex(new_index).fillna(0)

Now our dataframe should have the desired shape, but again, this is something we should test

In [60]:
len(crimes_district) == fulldata.District.nunique() * fulldata.index.nunique()

True

In [64]:
crimes_district.reset_index().to_csv(os.path.join("..", "data", "crimes_district.csv"),
                                     header=["District", "Date", "Incidents"], index=False)

---

### Crime by ward

In [65]:
fulldata.Ward.unique()

array([28., 15.,  4.,  3., 17., 11.,  6.,  9., 10.,  2., 37.,  7.,  1.,
       34.,  8.,  5., 42., 48., 29., 25., 20., 21., 16., 31., 22., 32.,
       35., 23., 14., 43., 45., 12., 27., 39., 18., 30., 13., 24., 49.,
       50., 40., 36., 38., 26., 47., 44., 33., 41., 19., 46., nan])

In [77]:
crimes_ward = fulldata.dropna(subset=["Ward"])
crimes_ward = crimes_ward.groupby(["Ward", crimes_ward.index]).ID.count()

In [70]:
# Sanity check on number of observed dates:
crimes_ward.reset_index().groupby("Ward").Date.count()

Ward
1.0     6164
2.0     6207
3.0     6198
4.0     6150
5.0     6180
6.0     6206
7.0     6179
8.0     6194
9.0     6181
10.0    6139
11.0    6126
12.0    6122
13.0    6124
14.0    6143
15.0    6169
16.0    6173
17.0    6207
18.0    6152
19.0    6108
20.0    6181
21.0    6181
22.0    6120
23.0    6140
24.0    6239
25.0    6127
26.0    6167
27.0    6240
28.0    6287
29.0    6182
30.0    6161
31.0    6164
32.0    6153
33.0    6130
34.0    6175
35.0    6168
36.0    6125
37.0    6212
38.0    6132
39.0    6119
40.0    6115
41.0    6117
42.0    6211
43.0    6126
44.0    6109
45.0    6118
46.0    6124
47.0    6104
48.0    6117
49.0    6131
50.0    6107
Name: Date, dtype: int64

In [71]:
new_index = pd.MultiIndex.from_product(crimes_ward.index.levels)
crimes_ward = crimes_ward.reindex(new_index).fillna(0)

In [79]:
print(len(crimes_ward) )
(fulldata.Ward.nunique()-1) * (fulldata.index.nunique())

307904

319137

In [78]:
len(crimes_ward)

307904